@media screen and (min-width:  1400px)
  .container
    &__header
    margin-left: 5.8rem
    max-width: 85%
    &__types
    margin: 0 auto
  .nav
    &__item
      margin-right: 2.94rem
@media screen and (max-width:  1340px)
  .nav
    &__item
      margin-right: 1rem 
@media screen and (max-width:  1256px)
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem 
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
@media screen and (max-width:  1010px)
  .nav      
    display: none      
@media screen and (max-width:  969px)
  .nav      
    display: none
@media screen and (max-width: 760px)  
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 5rem
  .card
    &__text
      margin-left: 0
  .design
    background-color: $dark
    &__section-title
      color: $light
    &__card
      margin-bottom: 5.7rem          
@media screen and (max-width:  570px) 
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.64rem
  .hero
    &__scroll-down
      display: none
    &__content
      max-width: 22.86rem
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem
@media screen and (max-width:  392px)
  html
    font-size: 11px
  .hero
     height: 85vh
@media screen and (max-height:  580px)  
  .hero
    &__scroll-down
      display: none 
