@media screen and (min-width:  1400px)
  .container
    &__header
      margin-left: 5.8rem
      max-width: 85%
    &__types
      margin: 0 auto
  .menu
    &__logo
      margin: 0  
  .nav
    &__item
      margin-right: 2.94rem
  .col
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    flex-basis: 32%
@media screen and (max-width:  1340px)
  .nav
    &__item
      margin-right: 1rem 
@media screen and (max-width:  1256px)
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem 
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
@media screen and (max-width:  1010px)
  .nav      
    display: none      
@media screen and (max-width:  969px)
  .nav      
    display: none
  .modal
    &__dialog
      max-width: 100%   
@media screen and (max-width: 760px)  
  .row
    flex-direction: column
    align-items: center
  .section-title
    &__description
      max-width: 37.5rem    
  .types
    &__card
      margin-bottom: 5rem
  .project
    &__card
      margin-bottom: 5rem    
  .card
    &__text
      margin-left: 0
    &__description
      max-width: 27rem  
  .design
    background-color: $dark
    &__section-title
      color: $light
    &__card
      margin-bottom: 5.7rem
  .modal
    &__dialog
      max-width: 60%          
@media screen and (max-width:  570px) 
  html
    font-size: 12px
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.91rem
  .hero
    &__scroll-down
      display: none
    &__content
      max-width: 26.75rem
      margin-top: 8.3rem
      margin-left: -1rem
    &__text
      margin-bottom: 2.7rem
      font-size: 1.5rem
      line-height: 135.84%
    &__button
      display: block
      min-width: 28.21rem
      font-size: 1.08rem
      padding: 1.58rem 5.83rem
      margin-bottom: 1.8rem
@media screen and (max-width: 375px)
  .container
    &__types
      width: 90%
  .project
    background-color: $fourthdary
  .section-title
    &__heading
      font-size: 1.83rem
      &--white
        color: $light
    &__image
      margin-top: 1.29rem
    &__description
      &--white
        color: $light  
  .types
    &__section-title
      margin-bottom: 3.333rem
    &__card
      margin-bottom: 5.65rem  
  .project
    &__card
      margin-bottom: 5.65rem
  .card
    &__text
      margin-top: -11.7rem
      padding: 1.79rem 2.65rem;
      max-width: 22.5rem
    &__title
      font-size: 1.25rem    
      margin-bottom: .65rem
      color: $thirdary
    &__item
      font-size: 1.08rem
      line-height: 170%
    &__pricetag
      bottom: -1rem  
      text-align: center
      font-size: 1.25rem
      padding: 0.88rem 3rem
    &--background
      &::before
        display: none    
@media screen and (max-width: 360px)
  html
    font-size: 10px
  .hero
    &__content
      max-width: 22.86rem
    &__button
      min-width: 26.75rem
      font-size: 1.08rem
      padding: 1.58rem 5.83rem
      margin-bottom: 1.8rem
@media screen and (max-height:  580px)  
  .hero
    &__scroll-down
      display: none 
