*, *:before, *:after
  box-sizing: border-box
html
  font-size: 14px
body
  font-family: 'Futura Book', sans-serif
  font-size: 1rem
img
  max-width: 100%  
.section
  padding: 60px 0
  &--dark
    background-color: $dark
    color: $light
  &-title
    text-align: center
    &--left
      text-align: left
    &__heading
      margin: 0 auto
      font-size: 1.429rem
      text-transform: uppercase
      font-family: 'Yeseva One', cursive
      font-style: normal
      font-weight: normal
      &--primary
        color: $primary
    &__word
      display: flex
      align-items: center
      &::after
        margin-left: 2.38rem
        content: ""
        width: 6.571rem
        height: 2px
        background-color: $primary
    &__image
      display: flex
      justify-content: center
      align-items: center
      margin-top: 1.2rem
      &::before, &::after
        margin: 0 10px
        content: ''
        width: 32px
        height: 2px
        background-color: $primary
    &__text
      margin: 0
      max-width: 31.571rem
      font-style: normal
      font-weight: normal
      font-size: 1.285rem
      line-height: 2.071rem  
    &__description
      margin: 0 auto
      margin-top: 1.285rem
      margin-bottom: 3.45rem
      max-width: 52.92rem
      text-align: center
      font-size: 1.428rem
      color: $thirdary
      text-transform: none
      line-height: 1.9rem
      font-family: 'Futura Book', sans-serif
      text-align: center          
.card
  padding-top: 1rem
  margin-bottom: 2rem
  &__text
    position: relative
    max-width: 23.6rem
    margin: 0 auto
    margin-top: -9.5rem
    padding: 1.78rem 2.07rem 2rem 2.1rem
    background-color: #ffffff
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03)
  &__title
    margin-top: 0
    margin-bottom: 0.7rem
    font-family: 'Yeseva One', cursive 
    font-size: 1.285rem   
    font-weight: normal
  &__list
    padding: 0 0 0 1rem
    margin: 0  
    margin-bottom: 2.5rem
    font-size: 1.07rem
    line-height: 1.79rem
    color: $secondary
  &__pricetag
    position: absolute
    left: 0
    bottom: -1.79rem
    width: 16.285rem
    font-size: 1.285rem
    font-family: 'Yeseva One', cursive 
    line-height: 1.785rem
    text-align: center
    text-transform: uppercase
    background-color: $primary
    color: $light
  &__power
    font-size: 0.71rem              
        
        