.footer
  padding-top: 3rem
  background: $fourthdary url(../img/footer-bg.jpg) no-repeat center / cover
  &__wrap
    margin: auto
    margin-top: -19rem;
    margin-bottom: 3.714rem
    padding: 2.5rem 2.5rem 2.5rem 4rem
    max-width: 63.07rem
    background: $fourthdary url('../img/bg-lines.svg') no-repeat center / cover
  &__title
    margin-top: 0
    margin-bottom: 3.214rem
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    font-style: normal
    font-weight: normal
    font-size: 1.428rem
    text-align: center
  &__form
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    max-width: 37.142rem
    margin: auto
  &__input
    padding-top: 0.3rem
    &-group
      display: flex
      flex-direction: column
      flex-basis: 45%
      margin-bottom: 3.15rem
      &--full-width
        flex-basis: 100%
        margin-bottom: 2rem  
  &__policy
    flex-basis: 100%  
    margin-bottom: 3.8rem
    display: flex
    justify-content: center
  &__button
    margin: auto
    padding: 1.285rem 4.785rem
    &:hover
      color: $dark
      transition: color 0.2s
  &__menu
    background-color: $dark  
    padding: 3.385rem 1rem 
  &__map
    max-width: 66.07rem
    margin: auto  
    margin-bottom: 4.70rem
    min-height: 465px
    &--small
      display: none
  &__adress
    max-width: 35rem
    margin: auto
.adress    
  &__title
    padding-top: 0
    margin: auto
    margin-bottom: 1.85rem
    font-family: 'Yeseva One', cursive
    font-size: 1.42rem
    line-height: 2rem
    text-align: center
    font-weight: normal
    font-style: normal
    text-transform: uppercase;
    color: $primary
  &__icons
    display: flex
    justify-content: center
    margin: auto
    margin-bottom: 2.166rem
  &__social-icon-email
    margin-right: 1.07rem    
    content: ''
    background: $primary url('../img/email.svg') no-repeat center
    width: 2rem
    height: 2rem
    border: none
    border-radius: 50%
  &__social-icon-insta
    content: ''
    background: $primary url('../img/insta.svg') no-repeat center
    width: 2rem
    height: 2rem
    border: none
    border-radius: 50%  
  
      

    