.project
  padding-bottom: 0
  &__image
    display: block
  &__background
    position: relative
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: rgba($dark, 0.3)
  &__pricetag
    padding: 1.15rem 2.35rem
    text-align: left
  &__card
    padding: 0
    margin-bottom: 0
  &__list
    margin-bottom: 2rem
  &__text
    margin-top: -9.3rem
  &__pricetag
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3)
    font-style: normal
    font-weight: normal


      



      