.six-steps
  margin-top: -500px
  padding-top: 500px
  background-color: $dark
  &__heading
    font-family: Yeseva One
    font-style: normal
    font-weight: normal
    font-size: 1.928rem
    line-height: 2.642rem
    text-transform: uppercase
  &__word
    display: flex
    align-items: center
    &::after
      margin-left: 6.1rem
      content: ""
      width: 6.571rem
      height: 2px
      background-color: $primary
  &__subtitle
    font-family: 'Futura Book'
    font-style: normal
    font-weight: normal
    font-size: 1.14rem
    line-height: 1.5rem
    text-transform: uppercase
.swiper-container-horizontal>.swiper-pagination-bullets
  width: auto
  bottom: -1px      
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet
  margin: 0
  margin-right: 1.352rem    





