.six-steps
  margin-top: -500px
  padding-top: 500px 
  color: $light
  background-color: $dark
  // background-image: url('../img/six-steps-bg.svg')
  &__heading
    line-height: 2.656rem
    font-size: 1.928rem
    &--break
      display: block
  &__word
    display: flex
    align-items: center
    &::after
      margin-left: 6.1rem
      content: ''
      width: 6.571rem
      height: 2px
      background-color: $primary         
  &__title
    margin-bottom: 0.95rem 
    font-size: 1.071rem
    line-height: 1.642rem
  &__subtitle
    font-family: 'Futura Book'
    font-style: normal
    font-weight: normal
    font-size: 1.14rem
    line-height: 1.5rem
    text-transform: uppercase
  &__description
    flex-basis: 100%
.steps
  padding: 0
  list-style-type: none
  &__six-steps
    display: flex
    justify-content: space-between
    flex-wrap: wrap
  &__item
    width: 9.07rem
    margin-right: 6rem
    margin-bottom: 2.571rem
    &--decoration-none
      text-decoration: none
      color: $light
  &__number
    display: inline-block
    border-bottom: 1px solid $primary
    margin-bottom: 0.831rem
  .active 
    color: $primary
  &__description
    font-style: normal
    font-weight: normal
    font-size: 1.071rem
    line-height: 1.28rem
.swiper-slide
  &__value
    margin: 0    
.six-steps-swiper
    padding-top: 9.1rem
    &--padding
      padding-top: 0
.swiper-pagination-fraction
    top: 5.2rem
    left: 0 
    max-width: 3rem
    font-family: Yeseva One
    font-style: normal
    font-weight: normal
    font-size: 1.285rem
    line-height: 1.78rem
    text-transform: uppercase
    letter-spacing: 0.05rem
.swiper-container-horizontal>.swiper-pagination-bullets
  width: auto
  bottom: -1px      
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet
  margin: 0
  margin-right: 1.352rem   



